*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
h1{
    font-style: italic;
    transform: skew(-10deg);
    display: inline-block;
    color: #fff;
    margin-top: 5px;
}
/* Menu */
.enca{
    text-align: center;
}
header{
    width: 100%;
    background-color: #ADADAD;
}
#btn-menu{
    display: none;
}
header label{
    display: none;
    width: 30px;
    height: 30px;    
    padding: 10px; 
} 

header label:hover{     
    cursor: pointer;
    background-color: rgba(13,13,13,0.3);
}
.menu ul{
    margin: 0;
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
}

.menu li a {
    display: block;
    padding: 15px 20px;
    color: #fff;
    font-size: 1.5em;
    text-decoration: none; 
}

.menu li a:hover {
    text-decoration: underline; 
}
@media (max-width:768px) {
    .a{
        width: 100%;
    }
    header label{
        display: block;
        border-right: 1px solid #ADADAD;
    }
    header label {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        padding: 10px 20px; 
    }
    .menu{
        position: absolute;
        background-color: black;
        width: 100%;
        margin-left: -100%;
        transition: all 0.5s;
        z-index: 999;
    }
    .menu ul{
        flex-direction: column;
    }
    .menu li{
        border-top: 1px solid #fff;
    }
    #btn-menu:checked ~ .menu{
        margin: 0;
    } 
    .menu {
        background-color: gray;
    }    
} 

/* Carrousel */
.fas.fa-chevron-left, .fas.fa-chevron-right{
    font-size: 2em;
    color: #685e5e;
}
.carrousel{
    width: 100%;
}

.conteCarrousel{
    width: 100%;
    height: 450px; /*Cambiar tamaño del carrusel*/
    overflow: hidden;
}

.itemCarrousel{
    position: relative;
    width: 100%;
    height: 100%;
    background-size: cover; 
    background-position: center;
}

.itemCarrouselTarjeta{
    width: 100%;
    height: 100%;
}

.itemCarrouselArrows{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%; 
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px; 
}

.itemCarrouselArrows > i:hover {
    cursor: pointer;
}

#itemCarrousel-1{
    background-image: url(image/camiones/img_carru1.jpg);
}

#itemCarrousel-2{
    background-image: url('image/camiones/img_carru2.jpg');
}

#itemCarrousel-3{
    background-image: url('image/camiones/img_carru3.jpg');
}


.itemCarrouselArrows > a > i{
    color: black;
}
.itemCarrousel > div {
    max-width: 100%; 
    max-height: 100%;
}

@media (max-width: 768px) {
    .conteCarrousel {
        height: 150px; 
    }
}

/* Sobre la empresa */
#sobre {
     margin-top: 5px; 
}

.so {
    background-color: gray;
    background-color: #ADADAD;
    padding: 10px;
}
.so hr{
    margin: 3px;
}

.so h3 {
    text-align: left;
    padding-bottom: 10px;
    font-size: 1.5em;
}

.so1, .so2, .so3 {
    display: flex;
    align-items: center;
    justify-content: center; 
}

.so1Img, .so2Img, .so3Img {
    width: 100%;
    max-width: 300px;
    height: auto;
    
}

.so1Text, .so2Text, .so3Text {
    width: 100%;
    text-align: justify;
    padding: 10px; 
    font-size: 1.2em;
}

@media (max-width: 768px) {
    .so1Img, .so2Img, .so3Img {
        order: -1;
        padding: 0; 
        margin: 10px;
        max-width: 100%;
        height: auto;
        text-align: center;
    }

    .so1, .so2, .so3 {
        flex-direction: column;
    }

    .so1Text, .so2Text, .so3Text {
        text-align: justify;
        padding: 20px;
    }
}

/* Servicios */
#servi{
    background-color: #EBEBEB;
}
.servicios h2{
    padding: 10px;
    text-align: center;
    font-size: 2em;
}

.servicios1, .servicios2{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 10px;
}
.servicios2{
    padding-bottom: 10px;
}

.contServis {
    position: relative;
}

.contServis img{
    width: 300px;
    height: 200px;
}

.textServi {
    text-align: center;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: opacity 0.3s ease, transform 0.6s ease;
    background-color: white;
    padding: 10px;
    border-radius: 5px;
    width: 80%;
    font-size: 1.3em;
}

.contServis:hover .textServi {
    opacity: 1;
    transform: translate(-50%, -50%);
}

@media screen and (max-width: 768px) {
    .servicios1,.servicios2 {
        flex-direction: column;
        align-items: center;
    }
    
    .contServis {
        margin-bottom: 20px; 
        position: relative; 
    }
    
    .contServis img {
        max-width: 100%;
        height: auto; 
    }
    
    .textServi {
        bottom: 30%;
        transform: translate(-50%, -50%);
        background-color: rgba(255, 255, 255, 0.5   );
        border-radius: 5px;
        font-size: 1.3em; 
        opacity: 1;
        transition: opacity 0.3s ease;
    }
    .textServi2, .textServi4{
        bottom: 10% !important;
    }
}


/* Clientes */
#client{
    background-color: #EBEBEB;
}
.client1, .client2, .client3{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}
.client2{
    margin-bottom:40px ;
}
.clientes h2{
    text-align: center;
    margin: 15px;
    font-size: 2em;
}
.client3{
    padding-bottom: 15px;
}
#clientTitu{
    display: none;
    
}

@media only screen and (max-width: 768px) {
    .client1 img, .client2 img{
        max-width: 100px;
        max-height: 100px;
    }
    .client3, .imgb {
        display: none;
    }
    
    .client1, .client2 {
        flex-wrap: wrap;
        justify-content: center;
    }
    .client1 img, .client2 img{
        margin: 10px;
        width: 100%;
        max-width: 200px; 
        height: auto;
    }
    .client2{
        margin-bottom: 0;
    }
    #clientTitu{
        display: block;
        text-align: center;
        padding-bottom: 15px;
    }
}

/* Footer - contacto */
footer{
    background-color: #ADADAD;
}
.icon{
    text-decoration: none;
    font-size: 1.3em;
    color: black;
    padding: 10px;
}
.icon.bx{
    color: black;
}
#contacto{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.cont h3, .zona h3{
    padding: 10px;
    font-size: 1.5em;
}
.zona p{
    color: #fff;
}
.cont span, .zona span{    
    color: #fff;
    padding-left: 10px;
}
.zona p{
    font-size: 1.3em;
}
.dr{
    text-align:end;
    padding-right: 5% ;
    color: #fff;
}

@media only screen and (max-width: 768px) {
    #contacto{
        flex-direction: column;
    }
    .zona{
        padding-top: 15px;
    }
    .zona p{
        padding-left: 10px;
    }
}