*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
h1{
    font-style: italic;
    transform: skew(-10deg);
    display: inline-block;
    color: #fff;
    margin-top: 5px;
}
/* Menu */
.enca{
    text-align: center;
}
header{
    width: 100%;
    background-color: #ADADAD;
}
#btn-menu{
    display: none;
}
header label{
    display: none;
    width: 30px;
    height: 30px;    
    padding: 10px; 
} 

header label:hover{     
    cursor: pointer;
    background-color: rgba(13,13,13,0.3);
}
.menu ul{
    margin: 0;
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
}

.menu li a {
    display: block;
    padding: 15px 20px;
    color: #fff;
    font-size: 1.5em;
    text-decoration: none; 
}

.menu li a:hover {
    text-decoration: underline; 
}
@media (max-width:768px) {
    .a{
        width: 100%;
    }
    header label{
        display: block;
        border-right: 1px solid #ADADAD;
    }
    header label {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        padding: 10px 20px; 
    }
    .menu{
        position: absolute;
        background-color: black;
        width: 70%;
        margin-left: -70%;
        transition: all 0.5s;
        z-index: 999;
    }
    .menu ul{
        flex-direction: column;
    }
    .menu li{
        border-top: 1px solid #fff;
    }
    #btn-menu:checked ~ .menu{
        margin: 0;
    } 
    .menu {
        background-color: gray;
    }    
}

/* Carrousel */
.fas.fa-chevron-left, .fas.fa-chevron-right{
    font-size: 2em;
    color: #685e5e;
}
.carrousel{
    width: 100%;
}

.conteCarrousel{
    width: 100%;
    height: 450px; /*Cambiar tamaño del carrusel*/
    overflow: hidden;
}

.itemCarrousel{
    position: relative;
    width: 100%;
    height: 100%;
    background-size: cover; 
    background-position: center;
}

.itemCarrouselTarjeta{
    width: 100%;
    height: 100%;
}

.itemCarrouselArrows{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%; 
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px; 
}

.itemCarrouselArrows > i:hover {
    cursor: pointer;
}

#itemCarrousel-1{
    background-image: url(image/camiones/img_carru1.jpg);
}

#itemCarrousel-2{
    background-image: url('image/camiones/img_carru2.jpg');
}

#itemCarrousel-3{
    background-image: url('image/camiones/img_carru3.jpg');
}


.itemCarrouselArrows > a > i{
    color: black;
}
.itemCarrousel > div {
    max-width: 100%; 
    max-height: 100%;
}

@media (max-width: 768px) {
    .conteCarrousel {
        height: 150px; 
    }
}

/* Section inicio */
/* #inicio{
    margin-top: 5px;
} */

/* Sobre la empresa */
#sobre{
    margin-top: 20px;
    margin-bottom: 10px;
}
.so {
    background-color: #EBEBEB;
}
.so h3{
    text-align:left;
    padding-bottom: 10px;
    font-size: 1.5em;
}
.so1, .so2, .so3 {
    display: flex;
    align-items: center;
}
.so1Img {
    width: 40%;
    padding: 10px;
    padding-left: 40px;
}
.so1Text {
    text-align: justify;
    width: 70%;
    padding: 10px;
    padding-right: 40px;
    font-size: 1.2em;
}

.so2{
    flex-direction: row;
}
.so2Img{
    width: 40%;
    padding: 10px;
    padding-right: 40px;
    padding-left: 30px;
}
.so2Text{
    text-align: justify;
    width: 70%;
    padding: 10px;
    padding-left: 40px;
    font-size: 1.2em;
}

.so3{
    flex-direction: row;
}
.so3Img{
    width: 40%;
    padding: 10px;
    padding-left: 40px;
}
.so3Text {
    text-align: justify;
    width: 70%;
    padding: 10px;
    padding-right: 40px;
    font-size: 1.2em;
}

/* Servicios */
#servi{
    background-color: #EBEBEB;
}
.servicios h2{
    padding: 10px;
    text-align: center;
    font-size: 2em;
}

.servicios1, .servicios2{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin: 10px;
}
.servicios2{
    padding-bottom: 10px;
}

.contServis {
    position: relative;
}

.contServis img{
    width: 300px;
    height: 200px;
}

.textServi {
    text-align: center;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: opacity 0.3s ease, transform 0.6s ease;
    background-color: white;
    padding: 10px;
    border-radius: 5px;
    width: 80%;
    font-size: 1.3em;
}

.contServis:hover .textServi {
    opacity: 1;
    transform: translate(-50%, -50%);
}

/* Clientes */
#client{
    background-color: #EBEBEB;
}
.client1, .client2, .client3{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}
.client2{
    margin-bottom:40px ;
}
.clientes h2{
    text-align: center;
    margin: 15px;
    font-size: 2em;
}
.client3{
    padding-bottom: 15px;
}


/* Footer - contacto */
footer{
    background-color: #ADADAD;
}
.icon{
    text-decoration: none;
    font-size: 1.3em;
    color: black;
    padding: 10px;
}
.icon.bx{
    color: black;
}
#contacto{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.cont h3, .zona h3{
    padding: 10px;
    font-size: 1.5em;
}
.zona p{
    color: #fff;
}
.cont span, .zona span{    
    color: #fff;
    padding-left: 10px;
}
.zona p{
    font-size: 1.3em;
}
.dr{
    /* text-align: right; */
    text-align:end;
    padding-right: 5% ;
    color: #fff;
}